<div class="col-lg-12" *ngFor="let home of homeShow">
    <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>{{home.machine}}</strong></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4">
                   <strong>{{home.user}}</strong>     
                </div>
                <div class="col-sm-4">
                   <strong>Inicio de produção: {{home.login}}</strong> 
                </div>
                <div class="col-sm-4">
                    <strong>Data: {{home.loginDate}}</strong>
                </div>
            </div>
        </div>
      </div>
</div>
