<div class="row">
    <div class="col-lg-offset-11">
            <button class="btn btn-success" type="button" (click)="onCreatePermission()" >Salvar</button>
    </div>
    
</div>
<br>
<div class="row">
  <div class="col-lg-4">
      <app-permissions-manage></app-permissions-manage>
    </div>
  <div class="col-lg-4">
      <app-user-list-permission></app-user-list-permission>
  </div>
  <div class="col-lg-4">
      <app-machines-list-permission></app-machines-list-permission>
  </div>
</div>
<br>
<br>
