<div class="row">
    <div class="col-sm-12">
        <h3>Configurações remotas</h3>
    </div>
    <div class="col-sm-offset-11">
        <button class="btn btn-success" type="button" (click)="sendDataDevice()">Enviar</button>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-6">
        <app-remote-logo></app-remote-logo>
    </div>        
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-6">
            <h4 class="align-bottom">Empresa: {{ config.companyname }}</h4>
        </div>   
        <div class="col-sm-6">
            <h4 class="align-bottom">Tempo de rodízio: {{ config.rotationtime }}</h4>
        </div>   
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <a class="list-group-item active">Atualizar máquina</a>
        <app-remote-machine-item></app-remote-machine-item>
    </div> 
    <div class="col-sm-7">
        <a class="list-group-item active">Maquinas</a>
        <remote-machines></remote-machines>
    </div> 
</div>