<div class="row">
 <div class="col-lg-6 pull-right">
     <button class="btn btn-info  pull-right" routerLink="/machines">Retornar máquinas</button>
 </div>
</div>
<form>
     <div id="machine-data">
         <div class="row">
            <div class="col-sm-6 form-group">
               <label for="macid">Máquina</label>
               <input
                 type="text"
                 id="macid"
                 class="form-control"
                 [(ngModel)]="machine.macid"
                 name="macid">
             </div>
             <div class="col-sm-6 form-group">
               <label for="description">Descrição</label>
               <input
                 type="text"
                 id="description"
                 class="form-control"
                 [(ngModel)]="machine.description"
                 name="description">
             </div>
           </div>
           <div class="row">
            <div class="col-sm-6 form-group">
               <label for="machineIP">IP do dispositivo</label>
               <input
                 type="text"
                 id="machineIP"
                 class="form-control"
                 [(ngModel)]="machine.machineIP"
                 name="machineIP"
                 placeholder="ex: 10.80.78.222">
             </div>
             <div class="col-sm-6 form-group">
               <label for="machinePort">Porta</label>
               <input
                 type="text"
                 id="machinePort"
                 class="form-control"
                 [(ngModel)]="machine.machinePort"
                 name="machinePort"
                 placeholder="ex: 8080">
             </div>
           </div>
          <br>
           <div class="row">
             <div class="col-xs-12">
               <button class="btn btn-success"
                type="submit"
                (click)="onUpdateMachine()">Salvar</button>
             </div>
           </div>
     </div>
   </form>




