<div class="row">
        <div class="col-xs-5 col-md-5">
          <a class="thumbnail">
          <img [src]=" companyLogo | safeURL"  alt="...">
          </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="btn btn-default">
                <input type="file" (change)="selectFile($event)">
            </label>
            <div id="companyCode"
                [(ngModel)]="companyCode"
                hidden>{{ companyCode }}
                name="companyCode"
                ngDefaultControl
            </div>
            <br>
            <button class="btn btn-success" [disabled]="!selectedFile"
                (click)="upload()">Carregar imagem
            </button>
        </div>
    </div>